# Default code owners
* @amcamd @TorreZuk @mahmoodw @bragadeesh @NaveenElumalaiAMD @yoichiyoshida @babakpst @evedovelli
# pattern overrides should also be reviewed by core rocBLAS: @amcamd @TorreZuk @mahmoodw @bragadeesh @NaveenElumalaiAMD @evedovelli 
# Documentation files
docs/ @ROCm/rocm-documentation @amcamd @TorreZuk @mahmoodw @bragadeesh @NaveenElumalaiAMD @evedovelli
*.md @ROCm/rocm-documentation @amcamd @TorreZuk @mahmoodw @bragadeesh @NaveenElumalaiAMD @evedovelli
*.rst @ROCm/rocm-documentation @amcamd @TorreZuk @mahmoodw @bragadeesh @NaveenElumalaiAMD @evedovelli
.readthedocs.yaml @ROCm/rocm-documentation @amcamd @TorreZuk @mahmoodw @bragadeesh @NaveenElumalaiAMD @evedovelli
# Header directory for Doxygen documentation
library/include/* @ROCm/rocm-documentation @amcamd @TorreZuk @mahmoodw @bragadeesh @NaveenElumalaiAMD @yoichiyoshida @evedovelli
