# Default code owners
* @amcamd @TorreZuk @mahmoodw @bragadeesh @NaveenElumalaiAMD @yoichiyoshida @babakpst
# pattern overrides should also be reviewed by core rocBLAS: @amcamd @TorreZuk @mahmoodw @bragadeesh @NaveenElumalaiAMD 
# Documentation files
docs/ @ROCm/rocm-documentation @amcamd @TorreZuk @mahmoodw @bragadeesh @NaveenElumalaiAMD
*.md @ROCm/rocm-documentation @amcamd @TorreZuk @mahmoodw @bragadeesh @NaveenElumalaiAMD
*.rst @ROCm/rocm-documentation @amcamd @TorreZuk @mahmoodw @bragadeesh @NaveenElumalaiAMD
.readthedocs.yaml @ROCm/rocm-documentation @amcamd @TorreZuk @mahmoodw @bragadeesh @NaveenElumalaiAMD
# Header directory for Doxygen documentation
library/include/* @ROCm/rocm-documentation @amcamd @TorreZuk @mahmoodw @bragadeesh @NaveenElumalaiAMD
